<template name="footerComponent">
    <div class="component-wrapper footer-component">

        <div class="footer">
            <div class="row">
                <div class="col-md-2 col-md-offset-1 links">
                    <p class="heading">Information</p>
                    <ul>
                        <li><a href="/">Welcome</a></li>
                        <li><a href="{{getRoute 'about'}}">About</a></li>
                        <li><a href="{{getRoute 'faq'}}">FAQ</a></li>
                        <li><a href="{{getRoute 'terms'}}">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-md-2 links">
                    <p class="heading">Own the Day</p>
                    <ul>
                        <li><a href="{{getRoute 'calendar'}}">Calendar</a></li>
                        <li><a href="{{getRoute 'account'}}">My Days</a></li>
                    </ul>
                </div>
                <div class="col-md-2 social">
                    <p class="heading">Social</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/OwnTheDays/" title="Visit us on Facebook" data-toggle="tooltip" data-placement="bottom" target="_new">{{{getSvg '/img/social/facebook.svg'}}}</a>
                        <a href="https://twitter.com/OwnTheDayIO" title="Visit us on Twitter" data-toggle="tooltip" data-placement="bottom" target="_new">{{{getSvg '/img/social/twitter.svg'}}}</a>
                        <a href="https://medium.com/@owntheday.io" title="Visit us on Medium" data-toggle="tooltip" data-placement="bottom" target="_new">{{{getSvg '/img/social/medium.svg'}}}</a>
                        <a href="https://discord.gg/sWmjmfa" title="Visit us on Discord" data-toggle="tooltip" data-placement="bottom" target="_new">{{{getSvg '/img/social/discord.svg'}}}</a>
                        <a href="https://t.me/owntheday" title="Visit us on Telegram" data-toggle="tooltip" data-placement="bottom" target="_new">{{{getSvg '/img/social/telegram.svg'}}}</a>
                    </div>
                </div>
                <div class="col-md-4 copyright">
                    <div class="tech-icons">
                        <a href="https://www.ethereum.org" class="eth" target="_new"><img src="/img/eth.png" /></a>
                        <a href="https://metamask.io" class="mm" target="_new"><img src="/img/mm.png" /></a>
                    </div>

                    <p>Copyright &copy; 2018 OwnTheDay.io<br>All rights reserved.</p>
                </div>
            </div>
        </div>

    </div>
</template>
